<div class="left">
    <a href="https://facebook.com/Biosensum-Universit%C3%A9-de-Montr%C3%A9al-SensUs-Team-1978495269056918" target="_blank">
        <img src="/images/facebook.svg" alt="Facebook" />
    </a>
    <a href="https://instagram.com/biosensum.udem" target="_blank">
        <img src="/images/instagram.svg" alt="Instagram" />
    </a>
    <a href="https://linkedin.com/company/biosensum" target="_blank">
        <img src="/images/linkedin.svg" alt="LinkedIn" />
    </a>
</div>
<div class="right">
    {{ partial "language-selector" . }}
</div>
